/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/2021%20season%20preview.jpg.transform/9col/image.jpg');
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
